.filmes {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.filme {
  display: grid;
}

.filme .titulo h3 {
  margin-top: 15px;
  justify-self: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.filme .titulo {
  position: relative;
}

.filme .descricao {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}

.filme .descricao.ativo {
  display: block;
}

.filme .titulo h3::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../../img/plus-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 10px;
}

.filme .titulo.ativo h3::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../../img/plus-minus-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 10px;
}

.filme .nota {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
