.filmes {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.filme {
  display: grid;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;

  z-index: 2;
}

.filme.hide {
  transform: scale(0);
  opacity: 0;
}

.filme.hidden {
  display: none;
}

.filme .titulo h3 {
  margin-top: 15px;
  justify-self: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.filme .titulo {
  position: relative;
  background-color: #0d1017;
  z-index: 2;
}

.filme .descricao {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 20px;
  position: absolute;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
  transition: 0.8s;
}

.filme .descricao.ativo {
  position: absolute;

  bottom: -30px;
}

.filme .titulo h3::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../../img/plus-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 10px;
  transition: 0.3s;
}

.filme .titulo h3.ativo::after {
  background-image: url(../../img/plus-minus-svgrepo-com.svg);
}

.filme .nota {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.filmes {
  margin-bottom: 200px;
}
